<!DOCTYPE html>
<html>
    <head>
        <title>The Lincolnshire Poacher</title>
    </head>
    <body>
        <!--
            ALL THESE WORLDS ARE YOURS
            EXCEPT EUROPA
            ATTEMPT NO LANDING THERE
            USE THEM TOGETHER
            USE THEM IN PEACE
        -->
        <p>{{ message }}</p>
    </body>
</html>
